<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navarro.albert.baseactivynav">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_calculator"
        android:label="SUPERCALCULATOR3000"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Activity1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Activity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SUPERCALCULATOR"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LOGIN.Login" >
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>>
        <activity android:name=".LOGIN.SIGNUP" />
        <activity android:name=".LOGIN.INCORRECT"></activity>
    </application>

</manifest>